<ion-content fullscreen>
  <!-- Header -->
  <div class="custom-header">
    <ion-icon name="arrow-back-outline" class="left-icon"></ion-icon>
    <h2 class="header-title">PAK 145/3 (18.2)</h2>
    <ion-icon name="ellipsis-vertical-outline" class="right-icon"></ion-icon>
  </div>

  <!-- Info strip -->
  <div class="info-strip">
    <span>Run Rate: <strong>7.25</strong></span>
    <span>Limit per Bowler: <strong>4</strong></span>
  </div>

  <!-- Batsman Table -->
  <ion-list class="score-table">
    <ion-item class="table-head" lines="full">
      <ion-label>Batsman</ion-label>
      <ion-label class="right">R</ion-label>
      <ion-label class="right">B</ion-label>
      <ion-label class="right">4s</ion-label>
      <ion-label class="right">6s</ion-label>
      <ion-label class="right">SR</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label><strong>Player 1*</strong></ion-label>
      <ion-label class="right">32</ion-label>
      <ion-label class="right">25</ion-label>
      <ion-label class="right">4</ion-label>
      <ion-label class="right">1</ion-label>
      <ion-label class="right">128.0</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label>Player 2</ion-label>
      <ion-label class="right">14</ion-label>
      <ion-label class="right">19</ion-label>
      <ion-label class="right">1</ion-label>
      <ion-label class="right">0</ion-label>
      <ion-label class="right">73.6</ion-label>
    </ion-item>
  </ion-list>

  <!-- Bowler Table -->
  <ion-list class="score-table">
    <ion-item class="table-head" lines="full">
      <ion-label>Bowler</ion-label>
      <ion-label class="right">O</ion-label>
      <ion-label class="right">M</ion-label>
      <ion-label class="right">R</ion-label>
      <ion-label class="right">W</ion-label>
      <ion-label class="right">Eco</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label><strong>Bowler 1</strong></ion-label>
      <ion-label class="right">3.2</ion-label>
      <ion-label class="right">0</ion-label>
      <ion-label class="right">25</ion-label>
      <ion-label class="right">1</ion-label>
      <ion-label class="right">7.5</ion-label>
    </ion-item>
  </ion-list>

  <!-- Buttons -->
  <div class="button-grid">
    <ion-button class="score-btn">0</ion-button>
    <ion-button class="score-btn">1</ion-button>
    <ion-button class="score-btn">2</ion-button>
    <ion-button class="score-btn">3</ion-button>
    <ion-button class="score-btn">4</ion-button>
    <ion-button class="score-btn">5</ion-button>
    <ion-button class="score-btn">6</ion-button>
    <ion-button class="score-btn">Wd</ion-button>
    <ion-button class="score-btn">Nb</ion-button>
    <ion-button class="score-btn">Wkt</ion-button>
    <ion-button class="score-btn">Dot</ion-button>
    <ion-button class="score-btn undo">Undo</ion-button>
  </div>
</ion-content>
