 .haider{
border: 1px solid red none;
height: 60px;
width: 100%;
background-color: orange;
padding: 0;
 }

  .haider1{
border: 1px solid red none;
height: 60px;
width: 15%;
float: left;
background-color: orange;
padding: 0;
 }

 
  .haider7{
border: 1px solid red ;
height: 40px;
width: 85%;
float: left;
background-color: orange;
padding: 0;
 }

   .haider2{
border: 1px solid red none;
height: 60px;
width: 25%;
float: right;
background-color: orange;
padding: 0;
 }

    .haider81{
border: 1px solid red none;
height: 20px;
width: 100%;
float: right;
background-color: orange;
padding: 0;
text-align: center;
align-items: center;
display: flex;
justify-content: center;
padding: 0;
 }
// 81
  .haider83{
border: 1px solid red none;
height: 40px;
width: 45%;
float: left;
background-color: orange;
padding: 0;

 }

// 81
   .haider84{
border: 1px solid red none;
height: 20px;
width: 55%;
float: right;
background-color: orange;
padding: 0;
 }




  .haider8{
border: 1px solid red none;
height: 40px;
width: 100%;
float: right;
background-color: orange;
padding: 0;
 }

   .haider82{
border: 1px solid red ;
height: 40px;
width: 52%;
float: right;
background-color: orange;
padding: 0;
 }


    .haider3{
border: 1px solid red none;
height: 60px;
width: 45%;
float: left;
background-color: orange;
padding: 0;
margin-left: 10px; 
align-items: center;
justify-content: center;

 }

     .haider4{
border: 1px solid red none;
height: 35px;
width: 100%;
float: left;
background-color: orange;
padding: 0;

align-items: center;
justify-content: center;
 }

     .haider5{
border: 1px solid red none;
height: 25px;
width: 100%;
float: left;
background-color: orange;
padding: 0;
 }


      .haider9{
border: 1px solid red none;
height: 25px;
width: 100%;
background-color: rgb(198, 198, 198);
padding: 0;
 }

      .haider10{
border: 1px solid red none;
height: 25px;
width: 100%;
background-color: rgb(205, 205, 205);
padding: 0;
 }