

<ion-content [fullscreen]="true">
 <ion-list class="haider">
    <ion-list class="haider1">
    <ion-list class="haider7"></ion-list>    
    </ion-list>
   <ion-list class="haider2">
      <ion-list class="haider8">
              <ion-list class="haider82"></ion-list>
      </ion-list>
      <ion-list class="haider81">
          <ion-list class="haider83"><label style="font-size: 22px;margin-top: 3px;text-align: center;float: right;color: red;margin-right: 2px;">vs</label></ion-list>
             <ion-list class="haider84"><label style="font-size: 15pz;font-weight: 300;"><b>zaheer</b></label></ion-list>     
      </ion-list>
   </ion-list>
     <ion-list class="haider3">
   <ion-list class="haider5"><label style="font-size: 20px;"><b>zaheer</b></label></ion-list>
   <ion-list class="haider4"><label style="font-size: 20px;"><b>(1 / 0) over(0.1/20)</b></label></ion-list>     
     </ion-list>
 </ion-list>
 <ion-grid style="padding: 0;">
 <ion-row style="padding: 0;"> 
   <ion-col size="6" style="padding: 0;"> 
  <ion-list class="haider9"></ion-list>
   <ion-list class="haider15"></ion-list>
</ion-col>   
<ion-col size="6" style="padding: 0;">
   <ion-list class="haider10"></ion-list>  
</ion-col>
 </ion-row>  
   </ion-grid>
</ion-content>
